<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <title>Form Verifikasi Skripsi</title>
      <style>
         .mt-10{
            margin-top: 100px;
         }
      </style>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container">
            <a class="navbar-brand" href="#">Muhammad Akbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
               <div class="navbar-nav ml-auto">
                  <a class="nav-item nav-link active" href="{{ url_for('login') }}">Login <span class="sr-only">(current)</span></a>
               </div>
            </div>
         </div>
      </nav>
      <div class="container">
         <div class="row">
            <div class="col px-5">
               <div class="card shadow mt-10 pb-5">
                  <div class="card-header">
                     <h5 class="mx-5">Form Verifikasi Tanda Tangan Dosen</h5>
                  </div>
                  <div class="card-body mx-5">
                     <form action="{{ url_for('verifikasi') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                           <label for="stambuk">Stambuk</label>
                           <input type="number" class="form-control {{ 'is-invalid' if get_flashed_messages()[0] == 'stambuk_invalid'}}" name="stambuk" id="stambuk" placeholder="Masukkan stambuk" autofocus required value="{{stambuk}}">
                           <div class="invalid-feedback">
                              Stambuk belum terdaftar oleh sistem
                           </div>
                        </div>
                        <label for="exampleInputEmail1">File Skripsi</label>
                           <div class="custom-file">
                              <input type="file" class="custom-file-input {{ 'is-invalid' if get_flashed_messages()[0] == 'invalid_extension'}}" name="file-skripsi" id="fileSkripsi" required max="12">
                              <label class="custom-file-label" for="fileSkripsi">Pilih File Skripsi <i>(.pdf)</i></label>
                              <div class="invalid-feedback">
                                 File harus berekstensi pdf
                              </div>
                           </div>
                        <div class="row mt-5">
                           <div class="col">
                              <button type="submit" class="btn btn-primary float-right tombol-simpan">Verifikasi Skripsi</button>
                           </div>
                        </div>                        
                     </form>
                  </div>
                </div>
            </div>
         </div>
      </div>

      {% if hasil_akhir %}      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Hasil Verifikasi</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <table class="table table-hover mb-3">
                     <thead>
                        <tr>
                           <th scope="col">Nama Dosen</th>
                           <th scope="col" class="text-center">Verifikasi Tanda Tangan</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for hasil in hasil_akhir[1] %}
                        <tr>
                           <td>{{hasil.get('nama_dosen')}}</td>
                           <td class="text-center">
                              <span class="badge badge-{{ 'success' if hasil.get('status') == 'valid' else 'danger' }}" style="width:80px">{{ hasil.get('status') }}</span>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                  
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      {% else %}
      {% endif %}
      

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script type="text/javascript">
         $(window).on('load', function() {
            $('#exampleModal').modal('show');
         });

         $('#fileSkripsi').on('change',function(e){
            if (e.target.files.length) {
               $(this).next('.custom-file-label').html(e.target.files[0].name);
            }
         })
      </script>
      <script>
         function allowed_extension(filename, form, tombol)
         {
            my_array = filename.split('.')
            if(my_array[1] !== 'pdf'){
               form.classList.add('is-invalid')
               tombol.setAttribute('type', 'button')          
            }else{
               form.classList.remove('is-invalid')
               tombol.setAttribute('type', 'submit')    
            }
         }
         $('#fileSkripsi').on('change',function(e){
            if (e.target.files.length) {
               filename = e.target.files[0].name
               form = document.querySelector('#fileSkripsi')
               tombol = document.querySelector('.tombol-simpan')   
               allowed_extension(filename, form, tombol)
            }
         })
      </script>
   </body>
</html>